<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/template.css">
  <script src="./js/template.js"></script>
</head>
<body class="template">
  <header>
    <span class="header-active">流程图</span>
    <span>思维导图</span>
    <span>我的模板</span>
  </header>
  <div class="template-body">
    <aside>
      <div class="title">
        精选模板
      </div>
      <div class="basic">
        <span>基础图形</span>  
        <ul>
          <li>流程图</li>
          <li>UML</li>
          <li>组织拓扑图</li>
          <li>网络拓扑图</li>
          <li>泳道图</li>
          <li>关系图</li>
        </ul>
      </div>
      <div id="nav_list">
        <span>管理</span>
        <ul>
          <li>审计流程</li>
          <li>鱼骨图</li>
          <li>关系图</li>
          <li>质量管理</li>
        </ul>
        <span>软件</span>
        <ul>
          <li>时序图</li>
          <li>数据流</li>
          <li>架构图</li>
        </ul>
      </div>
    </aside>
    <div class="main">
      <div class="title">
        常用模板
      </div>
      <div id="common_list">
        <div class="new-template">
          
          新建空白流程图
        </div>
        <div class="template-type-one">
          <img src="http://www.dawninshadow.com/usr/uploads/2020/01/2139417577.png" alt="">
          <div class="template-info">
            <p class="T-title">数据流</p>
            <div class="T-time">两小时前</div>
          </div>
        </div>
      </div>
      <div id="title_list"> 

      </div>
      <div id="template_list">

      </div>
    </div>
  </div>
</body>
</html>